/* ラベル */
.label {
    font-size: 0.9em;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

/* 入力フィールド */
.input-field {
    width: 80%;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.input-field:focus {
    border-color: #219752;
    outline: none;
    box-shadow: 0 0 3px rgba(33, 151, 82, 0.2);
}
